<!DOCTYPE html>
<html>
  <head>
    <title>Mangaosusume</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300&family=Noto+Sans+JP:wght@200&display=swap" rel="stylesheet">
    CSS rules to specify families
    
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    
    </head>

  <body>
  <header>
  <h1>おすすめマンガ</h1>
  <div class="header-list">
  <ul>
    <li><%= link_to "ホーム", root_path %></li>
    <% if user_signed_in? %>
     <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
     <li><%= link_to "新規登録", new_user_registration_path %></li>
     <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
  </ul>
  </div>
</header>
<main>
  <%= yield %>
</main>
    <footer>
      <p>Copyright © 細木奏汰 All Rights Reserved.</p>
    </footer>
  </body>
</html>
